<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-positive" align-title="center">
        <a href="#" class="button icon-left ion-ios-arrow-back" ng-click="goBack()"></a>
        <a class="title" style="font-size:1em;"><b>地下水监测</b></a>
    </ion-header-bar>
    <ion-content>
        <div class="list" style="height:100%;">
            <div class="row item-text-wrap" style="display: flex;align-items:center;padding: 0px;margin: 0px;background: #d7eaf0;border-top: 2px solid #69a4d3">
                <div class="row col-33" style="margin:0;">
                    <div class="tb_title col-50">省(区、市)</div>
                    <div class="tb_title col-50">监测点建设任务</div>
                </div>
                <div class="row col-33" style="margin:0;">
                    <div class="tb_title col-50">省(区、市)</div>
                    <div class="tb_title col-50">监测点建设任务</div>
                </div>
                <div class="row col-33" style="margin:0;">
                    <div class="tb_title col-50">省(区、市)</div>
                    <div class="tb_title col-50">监测点建设任务</div>
                </div>
            </div>
            <ion-scroll scrollbar-y="false" style="height: 100%;">
                <div class="item row-wrap item-text-wrap item-content"  style="display: flex;align-items:center;padding: 0px;font-size: 12px;white-space: normal;">
                    <div class="row col-33" style="margin:0;">
                        <div class="om_title col-50">北京</div>
                        <div class="om_title col-50">437</div>
                    </div>
                    <div class="row col-33" style="margin:0;">
                        <div class="om_title col-50">天津</div>
                        <div class="om_title col-50">365</div>
                    </div>
                    <div class="row col-33" style="margin:0;">
                        <div class="om_title col-50">河北</div>
                        <div class="om_title col-50">954</div>
                    </div>
                    <div class="row col-33" style="margin:0;">
                        <div class="om_title col-50">河北</div>
                        <div class="om_title col-50">954</div>
                    </div>
                    <div class="row col-33" style="margin:0;">
                        <div class="om_title col-50">河北</div>
                        <div class="om_title col-50">954</div>
                    </div>
                    <div class="row col-33" style="margin:0;">
                        <div class="om_title col-50">河北</div>
                        <div class="om_title col-50">954</div>
                    </div>
                    <div class="row col-33" style="margin:0;">
                        <div class="om_title col-50">河北</div>
                        <div class="om_title col-50">954</div>
                    </div>
                    <div class="row col-33" style="margin:0;">
                        <div class="om_title col-50">河北</div>
                        <div class="om_title col-50">954</div>
                    </div>
                </div>

            </ion-scroll>
        </div>
    </ion-content>
</ion-view>
