<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-positive" align-title="center">
        <a href="#" class="button icon-left ion-ios-arrow-back" ng-click="goBack()"></a>
        <a class="title" style="font-size:1em;"><b>目录管理</b></a>
    </ion-header-bar>
    <ion-content delegate-handle="mainContent">

            <div class="" style="width:100%;">
            </div>
            <div>
                <!--<highchart id="pie" config="catalogChartPie" style="min-width: 250px;height:400px;"></highchart>-->
            </div>
            <ion-scroll delegate-handle="column" zooming="true">
                <highchart config="mlzyChartPie" style="min-width: 250px;height:400px;"></highchart>
                <highchart  config="objChartPie" style="min-width: 250px;height:400px;"></highchart>
                <highchart config="catalogChartBar" style="min-width:250px;height:2000px;"></highchart>
            </ion-scroll>


    </ion-content>
</ion-view>